@use '../helpers' as *;

.about-card {
    display: flex;
    flex-direction: column;
    row-gap: fluid(20,10);

    &__title {
        font-size: fluid(22, 16);

        font-family: var(--font-family-base);
        font-weight: 500;
        display: flex;
        align-items: center;
    }
}