@use '../helpers' as *;

.team {
    --personImageSize: #{rem(60)};

    display: flex;
    padding: rem(10);
    background-color: var(--color-dark-10);
    border-radius: rem(100);

    @include laptop {
        --personImageSize: #{rem(50)};

        padding: rem(8);
    }

    @include tablet {
        --personImageSize: #{rem(40)};
    }

    &__person {
        width: var(--personImageSize);
        background-color: var(--color-dark-15);
        border-radius: 50%;
        border: 2px solid var(--color-dark-40);

        @include laptop {
            border: 1px solid var(--color-dark-40);
        }

        &:not(:first-child) {
            margin-left: calc(var(--personImageSize) / 4 * -1);
        }
    }
}